{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style/table_card.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="{% static 'images/logo.png' %}" alt="Logo" width="100%">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item ml-auto">
                    {% if user.is_authenticated and not user.tecnico %}
                      <a class="nav-link" href="{% url 'servicios_list' %}">Servicios</a>
                    {% endif %}
                      {% if user.is_authenticated and user.tecnico %}
                        <a class="nav-link" href="{% url 'ver_servicios_tecnico' %}">Asignados</a>
                        <a class="nav-link" href="{% url 'ver_servicios_completados' %}">Completados</a>
                      {% endif %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <strong>Hola {{user.first_name}}</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="/account/change-password/">Cambiar Contraseña</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/logout/">Cerrar Sesión</a></li>
                        </ul>
                      </li>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  

    {% block content %}{% endblock %}
    <script src="{% static 'scripts/table_card.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>