{% extends "base.html" %}
{% block content %}



<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
    html {
      font-family: Calibri, Arial, Helvetica, sans-serif;
      font-size: 11pt;
      background-color: white
    }

    a.comment-indicator:hover+div.comment {
      background: #ffd;
      position: absolute;
      display: block;
      border: 1px solid black;
      padding: 0.5em
    }

    a.comment-indicator {
      background: red;
      display: inline-block;
      border: 1px solid black;
      width: 0.5em;
      height: 0.5em
    }

    div.comment {
      display: none
    }

    table {
      border-collapse: collapse;
      page-break-after: always
    }

   

  </style>
</head>

<body>
  <style>
    @page {
      margin-left: 0.7in;
      margin-right: 0.7in;
      margin-top: 0.75in;
      margin-bottom: 0.75in;
    }

    body {
      margin-left: 0.7in;
      margin-right: 0.7in;
      margin-top: 0.75in;
      margin-bottom: 0.75in;
    }
  </style>
  <table class="table card-header" border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
    <tbody>
      <tr>
        <td class="column0 style124 s style124" colspan="8">EMPRESA PRIVADA CERTIFICADA Y VIGILADA POR LA SECRETARIA DE
          SALUD DEPARTAMENTAL RADICADO N°201941450200077491 FECHA: 12-04-2019 TRD 4145.020.14.12.187.007749</td>
      </tr>
      <tr class="row9">
        <td class="   " colspan="7">RAZON SOCIAL: AGROPECUARIA RANCHO LUNA S.A.S</td>
        <td class=" " colspan="3">CONTACTO: JANETH MOSQUERA</td>
      </tr>
      <tr class="row10">
        <td class="column0 style117 s">NIT</td>
        <td class="column1 style116 s style114" colspan="3">900.267.392 - 3</td>
        <td class="column4 style113 s style111" colspan="4">DIRECCION: CARRERA 100 N° 5 - 169 OFIC 310 A</td>
        <td class="column8 style110 s style109" colspan="2">CEL: 314 6659941</td>

      </tr>
      <tr class="row11">
        <td class="column0 style108 s">VEHICULO</td>
        <td class="column1 style107 null style105" colspan="3"></td>
        <td class="column4 style104 s style102" colspan="4">PLACA</td>
        <td class="column8 style101 s style100" colspan="2">MODELO</td>
      </tr>

      <tr class="row13">
        <td class="column0 style98 s style97" colspan="2">FECHA EJECUCION</td>
        <td class="column2 style96 n style95" colspan="2">19-Aug-23</td>
        <td class="column4 style99 null"></td>
        <td class="column5 style99 null"></td>
        <td class="column6 style98 s style97" colspan="2">FECHA VENCIMIENTO</td>
        <td class="column8 style96 f style95" colspan="2">19-Sep-23</td>
      </tr>
      <tr class="row16">
        <td class="column0 style88 s style87" colspan="4">PRECAUCIONES</td>
        <td class="column4 style84 null"></td>
        <td class="column5 style87 s style86" colspan="5">RECOMENDACIONES</td>
      </tr>
      <tr class="row17">
        <td class="column0 style85 s style83" colspan="4">ü&nbsp; NO PASE LAS MANOS NI NINGÚN OTRA PARTE DEL CUERPO POR
          LAS SUPERFICIES TRATADAS.</td>
        <td class="column4 style84 null"></td>
        <td class="column5 style83 s style82" colspan="5">ü&nbsp; AL SOLICITAR EL PRÓXIMO CONTROL LAS ÁREAS A TRATAR
          DEBEN ESTAR LIMPIAS </td>
      </tr>
      <tr class="row18">
        <td class="column0 style85 s style83" colspan="4">ü&nbsp; SI ALGÚN ALIMENTO ES CONTAMINADO DESTRÚYALO.</td>
        <td class="column4 style84 null"></td>
        <td class="column5 style83 s style82" colspan="5">ü&nbsp; PRIMORDIAL DARLE EL USO DEBIDO A LOS RESIDUOS
          CUALQUIERA SEA SU CARACTERÍSTICA.</td>
      </tr>
      <tr class="row19">
        <td class="column0 style85 s style83" colspan="4">ü&nbsp; SI ALGÚN IMPLEMENTO DE COCINA O PRENDA DE VESTIR SE
          IMPREGNA LÁVELA CON ABUNDANTE AGUA Y JABÓN.</td>
        <td class="column4 style84 null"></td>
        <td class="column5 style83 s style82" colspan="5">ü&nbsp; EJECUTAR LAS RECOMENDACIONES DEL TÉCNICO EN SERVICIO
        </td>
      </tr>
      <tr class="row20">
        <td class="column0 style81 s style79" colspan="4">ü&nbsp;&nbsp; BARRA Y RECOJA LOS INSECTOS MUERTOS.</td>
        <td class="column4 style80 null"></td>
        <td class="column5 style79 s style78" colspan="5">ü&nbsp; EN CASO DE INTOXICACIÓN LLAMAR A LA LÍNEA TOXICOLÓGICA
          DEL HUV 554 35 43</td>
      </tr>
      <tr class="row21">
        <td class="column0 style41 null style40" colspan="10"></td>
        <td class="column10 style77 null"></td>
      </tr>
      <tr class="row22">
        <td class="column0 style76 s style75" colspan="2">EVIDENCIAS: </td>
        <td class="column2 style75 s style75" colspan="2">A: <span
            style="color:#000000; font-family:'Century Gothic'; font-size:10pt">Alta</span><span
            style="font-weight:bold; color:#000000; font-family:'Century Gothic'; font-size:10pt"> M: </span><span
            style="color:#000000; font-family:'Century Gothic'; font-size:10pt">Media</span><span
            style="font-weight:bold; color:#000000; font-family:'Century Gothic'; font-size:10pt"> B:</span><span
            style="color:#000000; font-family:'Century Gothic'; font-size:10pt">Baja</span></td>
        <td class="column4 style74 s">UBICACIÓN</td>
        <td class="column5 style73 null"></td>
        <td class="column6 style72 s style71" colspan="2">PRODUCTOS UTILIZADOS</td>
        <td class="column8 style70 s">CATEGORIA TOXICOLÓGICA</td>
        <td class="column9 style69 s">CANT</td>
        <td class="column10 style68 null"></td>
      </tr>
      <tr class="row23">
        <td class="column0 style63 s style62" colspan="2">Cucaracha alemana</td>
        <td class="column2 style61 null"></td>
        <td class="column3 style61 null"></td>
        <td class="column4 style60 s">COCINA Y BAÑOS</td>
        <td class="column5 style51 null"></td>
        <td class="column6 style67 s style66" colspan="2">RODILON</td>
        <td class="column8 style65 s">I</td>
        <td class="column9 style64 null"></td>
      </tr>
      <tr class="row24">
        <td class="column0 style63 s style62" colspan="2">Cucaracha Americana</td>
        <td class="column2 style61 null"></td>
        <td class="column3 style61 null"></td>
        <td class="column4 style60 s">NO</td>
        <td class="column5 style51 null"></td>
        <td class="column6 style59 s style58" colspan="2">FENDONA</td>
        <td class="column8 style57 s">III</td>
        <td class="column9 style56 s">50 ML</td>
      </tr>
      <tr class="row25">
        <td class="column0 style63 s style62" colspan="2">Roedores</td>
        <td class="column2 style61 null"></td>
        <td class="column3 style61 null"></td>
        <td class="column4 style60 s">NO</td>
        <td class="column5 style51 null"></td>
        <td class="column6 style59 s style58" colspan="2">GEL H Y C</td>
        <td class="column8 style57 s">III</td>
        <td class="column9 style56 s">10 GR</td>
      </tr>
      <tr class="row26">
        <td class="column0 style63 s style62" colspan="2">Hormiga</td>
        <td class="column2 style61 null"></td>
        <td class="column3 style61 null"></td>
        <td class="column4 style60 s">NO</td>
        <td class="column5 style51 null"></td>
        <td class="column6 style59 s style58" colspan="2">TRAMPAS DE GOMA</td>
        <td class="column8 style57 s">N.A</td>
        <td class="column9 style56 null"></td>
      </tr>
      <tr class="row27">
        <td class="column0 style55 s style54" colspan="2">Otro: </td>
        <td class="column2 style53 null"></td>
        <td class="column3 style53 null"></td>
        <td class="column4 style52 s">NO</td>
        <td class="column5 style51 null"></td>
        <td class="column6 style50 s style49" colspan="2">ACIDO BORICO</td>
        <td class="column8 style48 s">III</td>
        <td class="column9 style47 s">120 GR</td>

      </tr>

      <tr class="row29">
        <td class="column0 style38 s style37" colspan="2">LUGARES TRATADOS</td>
        <td class="column2 style36 s style32" colspan="2">Cajas Alcantarilla</td>
        <td class="column4 style33 s style32" colspan="2">Baños</td>
        <td class="column6 style33 s style32" colspan="2">Áreas Electricas</td>
        <td class="column8 style33 s style32" colspan="2">Areas Externas</td>
      </tr>
      <tr class="row30">
        <td class="column0 style46 s style34" colspan="2">cocina</td>
        <td class="column2 style33 s style32" colspan="2">Area de Residuos</td>
        <td class="column4 style33 s style32" colspan="2">Oficinas</td>
        <td class="column6 style33 s style32" colspan="2">Punto de Venta</td>
        <td class="column8 style33 s style32" colspan="2">Bodega</td>
      </tr>
      <tr class="row31">
        <td class="column0 style45 s style44" colspan="2">Lockers</td>
        <td class="column2 style43 s style42" colspan="2">Cavas</td>
        <td class="column4 style43 s style42" colspan="2">Sifones</td>
        <td class="column6 style43 s style42" colspan="2">Comedor</td>
        <td class="column8 style43 s style42" colspan="2">Escritorios</td>
      </tr>
      <tr class="row32">
        <td class="column0 style45 s style44" colspan="2">Shut</td>
        <td class="column2 style43 s style42" colspan="2">area de proceso</td>
        <td class="column4 style43 s style42" colspan="2">Ciielo falso</td>
        <td class="column6 style43 null style42" colspan="2"></td>
        <td class="column8 style43 s style42" colspan="2">OTRO: </td>
      </tr>
      <tr class="row33">
        <td class="column0 style41 null style40" colspan="10"></td>
      </tr>
      <tr class="row34">
        <td class="column0 style38 s style37" colspan="2">TIPO DE APLIACION: </td>
        <td class="column2 style36 s style32" colspan="2">Aspersión baja </td>
        <td class="column4 style33 s style32" colspan="2">Aspersión alta</td>
        <td class="column6 style33 s style32" colspan="2">Aplicación Gel</td>
        <td class="column8 style35 null style35" colspan="2"></td>
      </tr>
      <tr class="row35">
        <td class="column0 style34 s style34" colspan="2">Aplicación polvo</td>
        <td class="column2 style33 s style32" colspan="2">Insta. Monitores Roedores</td>
        <td class="column4 style33 s style32" colspan="2">Aplicación Mosquicida</td>
        <td class="column6 style33 null style32" colspan="2"></td>
        <td class="column8 style33 s style32" colspan="2">Otro:</td>
      </tr>
      <tr class="row37">
        <td class="column0 style28 s style28" colspan="2">Ingeniero Agrónomo:</td>
        <td class="column2 style29 s style29" colspan="2">Miguel Meneses Alvarez</td>
        <td class="column4 style25 null"></td>
        <td class="column5 style28 s style28" colspan="3">Técnico Aplicador:</td>
        <td class="column8 style27 null"></td>
        <td class="column9 style27 null"></td>
      </tr>

      <tr class="row39">
        <td class="column0 style23 s style6" colspan="7" rowspan="5">OBSERVACIONES: <span
            style="color:#000000; font-family:'Arial'; font-size:12pt">REALIZADO EL CONTROL DE PLAGAS EN GENERAL SE
            EVIDENCIA BUEN ASEO EN LAS AREAS TRATADAS , EVITAR ELEMENTOS EN DESUSO EN LAS OFICINAS, SE VE BUEN MANEJO A
            RESIDUOS FINALES. REPORTAR CUALQUIER NOVEDAD REFERENTE PLAGAS </span></td>
        <td class="column7 style20 null style18" colspan="3"></td>
      </tr>
      <tr class="row40">
        <td class="column7 style17 null style15" colspan="3" rowspan="2"></td>
      </tr>
      <tr class="row41">
        <td class="column7 style17 null style15" colspan="3"></td>
      </tr>
      <tr class="row42">
        <td class="column7 style11 s style9" colspan="3">FIRMA Y SELLO</td>
      </tr>
      <tr class="row43">
        <td class="column7 style5 s style3" colspan="3">CC O NIT</td>
      </tr>
    </tbody>

  </table>
</body>

</html>

{% endblock content %}