{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}{% if servicio %}Editar{% else %}Agregar{% endif %} servicio{% endblock %}

{% block content %}
  <div class="container">
    <div class="card mt-4">
      <h1 class="card-header">{% if servicio %}Editar{% else %}Agregar{% endif %} servicio</h1>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% if form.errors %}
            <div class="alert alert-danger">
              <ul>
                {% for field_errors in form.errors %}
                  {% for error in field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}
              {% if field.field.widget.input_type == 'date' %}
                {% render_field field|add_class:"form-control" type="date" %}
              {% else %}
                {{ field|add_class:"form-control" }}
              {% endif %}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">{% if servicio %}Actualizar{% else %}Agregar{% endif %} servicio</button>
        </form>
      </div>
    </div>
  </div>
  <h1>Crear Servicio de Fumigación</h1>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <h2>Evidencias</h2>
      {% for formset_form in form.evidencias %}
          {{ formset_form.as_table }}
      {% endfor %}
      <button type="submit">Guardar</button>
  </form>
{% endblock %}
