<!-- product_create_or_update.html -->

{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" class="container" method="post" id="product_form">
    {% csrf_token %}
    <div class="card">
        <div class="card-header card-header-secondary">
            <h4 class="card-title"> Relizar Servicio - Fumigacion </h4>
        </div> 
        <div class="form-group card-body">
        <p>ID del Servicio: {{ servicio.id }}</p>
        <p>Nombre del Cliente: {{ servicio.cliente }}</p>
        <p>Fecha de Ejecución: {{ servicio.fecha_ejecucion }}</p>
        <p>Fecha de Vencimiento: {{ servicio.fecha_vencimiento }}</p>
    </div> 
   <!-- inline form for Variant start -->

    <!-- EXPLAINING with named_formsets.envidencias as formset -->
    <!-- Note: named_formsets is used in get_context_data function in views.py -->
    <!-- Note: here envidencias is our VariantFormSet name, used in get_named_formsets function in views.py -->
    {% with named_formsets.envidencias as formset %}
        {{ formset.management_form }}
        <script type="text/html" id="envidencias-template">  // id="inlineformsetname-template"
            // id='inlineformsetname-__prefix__' 
            <tr id="envidencias-__prefix__" class= hide_all>
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}
            
                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
            </tr>
        </script>
        <div class="table-responsive card mt-4">
            <div class="card-header card-header-secondary">
                <h4 class="card-title">Evidencias</h4>
            </div>
            <table class="table card-header">
                <thead class="text-secondary">
                    <th>Evidencia <span style="color: red;" class="required">*</span></th>
                    <th>Medida <span style="color: red;" class="required">*</span></th>
                    <th>Ubicacion</th>
                    <th>Eliminar Multiple</th>
                    <th>Eliminar?</th>
                </thead>
                <tbody id="item-envidencias">  <!-- id="item-inlineformsetname" -->
                    <!-- formset non forms errors -->
                    {% for error in formset.non_form_errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss.management_form }}
                        <tr id="envidencias-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                            {{ formss.id }}
                            {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}
                                    
                                    {% comment %} {{ field.DELETE }} {% endcomment %}
                                </td>
                            {% endfor %}
                            {% comment %} for delete {% endcomment %}
                            {% if formss.instance.pk %}
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{formss.instance.pk}}">
                                        Delete
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Are Your Sure You Want To Delete This?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-footer">
                                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>            
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" id="add-variant-button" class="btn btn-secondary add-envidencias">Añadir Evidencia</a> <!-- id="add-inlineformsetname-button" -->
        </div>
        
        {% endwith %}
        <!-- inline form for productos end -->

    <!-- main form start --- in our case product form -->

    <div class="row">
        {% for field in form %}
        <div class="col-md-6">
            <div class="table-responsive card mt-4">
                <div class="card-header card-header-secondary">
                    <h4 class="card-title">{{ field.label }}</h4>
                </div>
                <div class="card-body">
                    {% if field.field.required %}
                    <span style="color: red;" class="required">*</span>
                    {% endif %}
    
                    {{ field }}
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% with named_formsets.productos as formset %}  
        {{ formset.management_form }}
        <script type="text/html" id="productos-template">   // id="inlineformsetname-template"
            <tr id="productos-__prefix__" class= hide_all>  // id="inlineformsetname-__prefix__"
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}
            
                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
            </tr>
        </script>

        <div class="table-responsive card mt-4">
            <div class="card-header card-header-secondary">
                <h4 class="card-title"> Productos Utilizados </h4>
            </div>
            <table class="table card-body">
                <thead class="text-secondary">
                    <th>Producto <span style="color: red;" class="required">*</span></th>
                    <th>Cantidad <span style="color: red;" class="required">*</span></th>
                    <th>Unidad de Medida <span style="color: red;" class="required">*</span></th>
                    <th>Categoria Toxicologica <span style="color: red;" class="required">*</span></th>
                    <th>Eliminar Multiple</th>
                    <th>Eliminar?</th>
                </thead>
                <tbody id="item-productos">  <!-- id="item-inlineformsetname" -->
                    <!-- formset non forms errors -->
                    {% for error in formset.non_form_errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss.management_form }}
                        <tr id="productos-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                            {{ formss.id }}
                            {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}
                                </td>
                            {% endfor %}
                            <!-- delete code -->
                            {% if formss.instance.pk %}
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{formss.instance.pk}}">
                                        Delete
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Are Your Sure You Want To Delete This?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-footer">
                                               {% comment %}  <a href="{% url 'products:delete_image' formss.instance.pk %}" type="button" class="btn btn-primary">Yes, Delete</a> {% endcomment %}
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>            
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" id="add-image-button" class="btn btn-secondary add-productos">Añadir Producto</a> <!-- id="add-inlineformsetname-button" -->
        </div>
    {% endwith %}
    <!-- inline form for productos end -->
    
    {% with named_formsets.precauciones as formset %}
    {{ formset.management_form }}
    <script type="text/html" id="precauciones-template">
        <tr id="precauciones-__prefix__" class="hide_all">
            {% for fields in formset.empty_form.hidden_fields %}
                {{ fields }}
            {% endfor %}
            {% for fields in formset.empty_form.visible_fields %}
                <td>{{ fields }}</td>
            {% endfor %}
        </tr>
    </script>

    <div class="table-responsive card mt-4">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Precauciones</h4>
        </div>
        <table class="table card-body">
            <thead class="text-secondary">
                <th>Precaución <span style="color: red;" class="required">*</span></th>
                <!-- Otras columnas de tu formset -->
                <th>Eliminar</th>
            </thead>
            <tbody id="item-precauciones">
                {% for error in formset.non_form_errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
                {% for formss in formset %}
                    {{ formss.management_form }}
                    <tr id="precauciones-{{ forloop.counter0 }}" class="hide_all">
                        {{ formss.id }}
                        {% for field in formss.visible_fields %}
                            <td>
                                {{ field}}
                                {% for error in field.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            </td>
                        {% endfor %}
                        <!-- Código para eliminar -->
                        {% if formss.instance.pk %}
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ formss.instance.pk }}">
                                    Eliminar
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ formss.instance.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ formss.instance.pk }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel{{ formss.instance.pk }}">¿Seguro que deseas eliminar esto?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- Tu código para confirmar la eliminación -->
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="#" id="add-precauciones-button" class="btn btn-secondary add-precauciones">Añadir Precaución</a>
    </div>
{% endwith %}

{% with named_formsets.recomendaciones as formset %}
    {{ formset.management_form }}
    <script type="text/html" id="recomendaciones-template">
        <tr id="recomendaciones-__prefix__" class="hide_all">
            {% for fields in formset.empty_form.hidden_fields %}
                {{ fields }}
            {% endfor %}
            {% for fields in formset.empty_form.visible_fields %}
                <td>{{ fields }}</td>
            {% endfor %}
        </tr>
    </script>

    <div class="table-responsive card mt-4">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Recomendaciones</h4>
        </div>
        <table class="table card-body">
            <thead class="text-secondary">
                <th>Recomendacion <span style="color: red;" class="required">*</span></th>
                <!-- Otras columnas de tu formset -->
                <th>Eliminar</th>
            </thead>
            <tbody id="item-recomendaciones">
                {% for error in formset.non_form_errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
                {% for formss in formset %}
                    {{ formss.management_form }}
                    <tr id="recomendaciones-{{ forloop.counter0 }}" class="hide_all">
                        {{ formss.id }}
                        {% for field in formss.visible_fields %}
                            <td>
                                {{ field}}
                                {% for error in field.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            </td>
                        {% endfor %}
                        <!-- Código para eliminar -->
                        {% if formss.instance.pk %}
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ formss.instance.pk }}">
                                    Eliminar
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ formss.instance.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ formss.instance.pk }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel{{ formss.instance.pk }}">¿Seguro que deseas eliminar esto?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- Tu código para confirmar la eliminación -->
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="#" id="add-recomendaciones-button" class="btn btn-secondary add-recomendaciones">Añadir Precaución</a>
    </div>
{% endwith %}

{% with named_formsets.firma_fumigacion as formset %}
{{ formset.management_form }}
<script type="text/html" id="firma-template">
    <tr id="firma-__prefix__" class="hide_all">
        {% for fields in formset.empty_form.hidden_fields %}
            {{ fields }}
        {% endfor %}
        {% for fields in formset.empty_form.visible_fields %}
            <td>{{ fields }}</td>
        {% endfor %}
    </tr>
</script>

<div class="table-responsive card mt-4">
    <div class="card-header card-header-secondary">
        <h4 class="card-title">Firma</h4>
    </div>
    <table class="table card-body">
        <tbody id="item-firma">
            {% for error in formset.non_form_errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
            {% for formss in formset %}
                {{ formss.management_form }}
                <tr id="firma-{{ forloop.counter0 }}" class="hide_all">
                    {{ formss.id }}
                    {% for field in formss.visible_fields %}
            <td>
                {% if field.name == 'imagen' %}
                    {% if field.value %}
                        <img src="{{ field.value.url }}" width="80%">
                    {% else %}
                        {{ field }}
                        <img id="firma-preview-{{ forloop.counter0 }}" width="50%" class="img-preview d-none">
                    {% endif %}
                {% else %}
                    {{ field }}
                {% endif %}
                {% for error in field.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </td>
        {% endfor %}
                    <!-- Código para eliminar -->
                    {% if formss.instance.pk %}
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ formss.instance.pk }}">
                                Eliminar
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ formss.instance.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ formss.instance.pk }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel{{ formss.instance.pk }}">¿Seguro que deseas eliminar esto?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <!-- Tu código para confirmar la eliminación -->
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endwith %}


        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-block">Guardar</button>
        </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script>
    // Preview image for firma
    $('#item-firma').on('change', 'input[type="file"]', function() {
        var input = $(this)[0];
        var previewId = 'firma-preview-' + $(this).closest('tr').attr('id').split('-')[1];
        var preview = document.getElementById(previewId);

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $(preview).attr('src', e.target.result);
                $(preview).removeClass('d-none');
            };

            reader.readAsDataURL(input.files[0]);
        }
    });
    $(document).ready(function() {
        // when user clicks add more btn of productos
      $('.add-productos').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-productos').children().length;
          var tmplMarkup = $('#productos-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-productos').append(compiledTmpl);
  
          // update form count
          $('#id_productos-TOTAL_FORMS').attr('value', count+1);
      });
  });

  $(document).ready(function() {
    // when user clicks add more btn of envidencias
      $('.add-envidencias').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-envidencias').children().length;
          var tmplMarkup = $('#envidencias-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-envidencias').append(compiledTmpl);
  
          // update form count
          $('#id_envidencias-TOTAL_FORMS').attr('value', count+1);
      });
  });

  $(document).ready(function() {
    // when user clicks add more btn of envidencias
      $('.add-precauciones').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-precauciones').children().length;
          var tmplMarkup = $('#precauciones-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-precauciones').append(compiledTmpl);
  
          // update form count
          $('#id_precauciones-TOTAL_FORMS').attr('value', count+1);
      });
  });

  $(document).ready(function() {
    // when user clicks add more btn of envidencias
      $('.add-recomendaciones').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-recomendaciones').children().length;
          var tmplMarkup = $('#recomendaciones-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-recomendaciones').append(compiledTmpl);
  
          // update form count
          $('#id_recomendaciones-TOTAL_FORMS').attr('value', count+1);
      });
  });
</script>
        
{% endblock content %}