{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="container">
    <div class="card mt-4">
      <h1 class="card-header">
        Relizar Servicio - {{ form.instance.tipo_servicio.nombre }}
      </h1>
      <div class="card-body">
        <p>ID del Servicio: {{ form.instance.id }}</p>
        <p>Nombre del Cliente: {{ form.instance.cliente }}</p>
        <p>Fecha de Ejecución: {{ form.instance.fecha_ejecucion }}</p>
        <form method="post">
          {% csrf_token %}
          {% if form.errors %}
            <div class="alert alert-danger">
              <ul>
                {% for field_errors in form.errors %}
                  {% for error in field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% for field in form %}
          {% if field.field.widget.input_type == 'checkbox' %}
            <div class="form-group">
              {{ field.label_tag }}
              <div class="form-control">
                {{ field }}
              </div>
            </div>
          {% else %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
          </div>
          {% endif %}
          {% endfor %}
<!-- Agregar campos de Evidencias y Medidas -->
{% if form.instance.tipo_servicio.nombre == 'Fumigacion' %}


Evidencias y Medidas
<div class="form-control">
<div id="evidencia-medida-formset-container">
  <table class="table table-bordered">
    <tbody>
      {{ evidencia_medida_formset.management_form }}
      {% for form in evidencia_medida_formset %}
        <tr>
          <td class="title-cell">{{ form.evidencia.label_tag }}</td>
          <td class="title-cell">{{ form.medida.label_tag }}</td>
        </tr>
        <tr>
          <td>{{ form.evidencia }}</td>
          <td>{{ form.medida }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Agregar un formulario vacío para el primer formulario de Evidencias y Medidas -->
  <table class="table table-bordered">
    <tbody>
      {{ evidencia_medida_formset.empty_form }}
    </tbody>
  </table>
</div>
<button type="button" id="agregar-evidencia-medida" class="btn btn-primary mb-3">Agregar Evidencia y Medida</button>

</div>

{% endif %}

<!-- Agregar campos de Productos Utilizados -->
{% if form.instance.tipo_servicio.nombre == 'Fumigacion' %}
Productos Utilizados
<div class="form-control">

<div id="producto-utilizado-formset-container">
  <table class="table table-bordered">
    <tbody>
      {{ producto_utilizado_formset.management_form }}
      {% for form in producto_utilizado_formset %}
        <tr>
          <td class="title-cell">{{ form.producto.label_tag }}</td>
          <td class="title-cell">{{ form.cantidad.label_tag }}</td>
          <td class="title-cell">{{ form.unidad_medida.label_tag }}</td>
        </tr>
        <tr>
          <td>{{ form.producto }}</td>
          <td>{{ form.cantidad }}</td>
          <td>{{ form.unidad_medida }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Agregar un formulario vacío para el primer formulario de Productos Utilizados -->
  <table class="table table-bordered">
    <tbody>
      {{ producto_utilizado_formset.empty_form }}
    </tbody>
  </table>
</div>
<button type="button" id="agregar-producto-utilizado" class="btn btn-primary mb-3">Agregar Producto Utilizado</button>

</div>

{% endif %}


          <input type="submit" value="Guardar" class="btn btn-primary mt-3">
        </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('#evidencia-medida-formset-container table:first-child').style.display = 'none';
      document.querySelector('#producto-utilizado-formset-container table:first-child').style.display = 'none';
    });
    // Funciones para agregar nuevos formularios de EvidenciaMedida y ProductoUtilizado
    function agregarEvidenciaMedida() {
      const formsetDiv = document.getElementById('evidencia-medida-formset-container');
      const formsetTotalForms = formsetDiv.querySelector('#id_evidencias-TOTAL_FORMS');
      if (formsetTotalForms) {
        const newFormIndex = parseInt(formsetTotalForms.value);
        const newFormHtml = '{{ evidencia_medida_formset.empty_form|escapejs }}'.replace(/__prefix__/g, newFormIndex);
        const newTable = document.createElement('table');
        newTable.className = 'table table-bordered';
        newTable.innerHTML = `
          <tbody>
            ${newFormHtml}
          </tbody>
        `;
        formsetDiv.appendChild(newTable);
        formsetTotalForms.value = newFormIndex + 1;
      }
    }

    function agregarProductoUtilizado() {
      const formsetDiv = document.getElementById('producto-utilizado-formset-container');
      const formsetTotalForms = formsetDiv.querySelector('#id_productos-TOTAL_FORMS');
      if (formsetTotalForms) {
        const newFormIndex = parseInt(formsetTotalForms.value);
        const newFormHtml = '{{ producto_utilizado_formset.empty_form|escapejs }}'.replace(/__prefix__/g, newFormIndex);
        const newTable = document.createElement('table');
        newTable.className = 'table table-bordered';
        newTable.innerHTML = `
          <tbody>
            ${newFormHtml}
          </tbody>
        `;
        formsetDiv.appendChild(newTable);
        formsetTotalForms.value = newFormIndex + 1;
      }
    }

    // Agregar eventos a los botones para agregar nuevos formularios
    document.getElementById('agregar-evidencia-medida').addEventListener('click', agregarEvidenciaMedida);
    document.getElementById('agregar-producto-utilizado').addEventListener('click', agregarProductoUtilizado);
  </script>
{% endblock %}
