<!-- product_create_or_update.html -->

{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" class="container" method="post" id="product_form">
    {% csrf_token %}

    
    <div class="card">
        <div class="card-header card-header-secondary">
            <h4 class="card-title"> EMPRESA PRIVADA CERTIFICADA Y VIGILADA POR LA SECRETARIA DE
                SALUD DEPARTAMENTAL RADICADO N°201941450200077491 FECHA: 12-04-2019 TRD 4145.020.14.12.187.007749</h4>
        </div> 
        <div class="form-group card-body">
        <p>ID del Servicio: {{ servicio.id }}</p>
        <p>Nombre del Cliente: {{ servicio.cliente }}</p>
        <p>Fecha de Ejecución: {{ servicio.fecha_ejecucion }}</p>
        <p>Lugares tratados: 
          {% for servicio_fumigacion in servicio_fumigacion_list %}
            <ul>
              {% for lugar in servicio_fumigacion.lugares_tratados.all %}
                  <li>{{ lugar.nombre }}</li>
              {% endfor %}
            </ul>
          {% endfor %}
        </p>
        <p>{{servicio.serviciofumigacion}}</p>
        <p>Tipo de control implementado:
          {% for servicio_fumigacion in servicio_fumigacion_list %}
          <ul>
            {% for control in servicio_fumigacion.tipo_control_implementado.all %}
                <li>{{ control.nombre }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
        </p>
        <p>Evidencias:
          {% for evidencia in evidencia_medida %}
          <li>{{evidencia}}</li>
        {% endfor %}
        </p>

        <p>Productos Utilizados:
          {% for productos in productos_utilizados %}
          <li>{{productos}}</li>
        {% endfor %}
        </p>
        
        <p>Precauciones:
            {% for servicio in servicio_fumigacion_list %}
            <li>{{servicio.precauciones}}</li>
          {% endfor %}
        </p>

        <p>Recomendaciones:
            {% for servicio in servicio_fumigacion_list %}
            <li>{{servicio.recomendaciones}}</li>
          {% endfor %}
        </p>
        
    </div> 
        
{% endblock content %}