<!-- product_create_or_update.html -->

{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container p-4" method="post" id="product_form">
  <style>
    .table {
        width: 200%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }
    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    .table tbody + tbody {
        border-top: 2px solid #dee2e6;
    }
    .table .table {
        background-color: #fff;
    }
    .table-bordered {
        border: 1px solid #dee2e6;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
    }
    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px;
    }
    .text-center {
        text-align: center !important;
    }
    .p-4 {
        padding: 1.5rem !important;
    }
    .gridlines {
        border-collapse: collapse;
        border: 1px solid black;
    }
    .gridlines td, .gridlines th {
        border: 1px solid black;
        padding: 8px;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'scripts/generate_pdf.js' %}"></script>
  {% if not exclude %}
  <button class="btn btn-primary" id="generatePdfBtn" onclick="generatePdfBtn('{{ servicio.cliente.razon_social}}' , '{{ servicio.id}}' )">Generar PDF</button>
  {% endif %} 
  {% csrf_token %}
    <table class="card-header table table-bordered" border="0" cellpadding="0" cellspacing="0" id="sheet0" class="gridlines">
      <tbody>
        <tr>
          <td colspan="2" style="text-align:center;">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width="50%">
            {% if exclude %}
            <img src="{{ logo_url }}" alt="Logo" width="50%">
            {% endif %}
          </td>
          <td colspan="2" style="text-align:center;">
            {{ infoEmpresas.nit }}<br>
            {{ infoEmpresas.direccion }}<br>
            Telefono: {{ infoEmpresas.telefono }} cel: {{ infoEmpresas.celular }}
          </td>
        </tr>

        <tr>
          <td colspan="3" style="text-align:center;">
            <b>
              {{ infoEmpresas.concepto_radicado }}<br>
              RADICADO {{ infoEmpresas.no_radicado }} FECHA: {{ infoEmpresas.fecha_radicado }}<br>
              TRD {{ infoEmpresas.TRD_radicado }}<br>
            </b>
          </td>
          <td  colspan="1" style="text-align:center;">
            <b>
              CERTIFICADO<br>
              DE CONTROL<br>
              N° {{ servicio.id}}
            </b>
          </td>
        </tr>
        {% comment %} INFORMACION DEL CLIENTE {% endcomment %}
        <tr>
          <td colspan="3"><strong>RAZON SOCIAL:</strong> {{ servicio.cliente.razon_social}}</td>
          <td colspan="1"><strong>CONTACTO:</strong> {{ servicio.cliente.contacto}}</td>
        </tr>
        <tr>
          <td colspan="1"><strong>NIT</strong></td>
          <td colspan="1">{{ servicio.cliente.nit}}</td>
          <td colspan="1"><strong>DIRECCION:</strong><br> {{ servicio.cliente.direccion}}</td>
          <td colspan="1"><strong>TELEFONO:</strong> {{ servicio.cliente.telefono}}</td>
        </tr>
        {% comment %} FECHA DE EJECUCION {% endcomment %}
        <tr>
          <td  colspan="1"><br><strong>FECHA EJECUCION</strong> </td>
          <td  colspan="1"><br>{{ servicio.fecha_ejecucion }}</td>
          <td  colspan="1"><br><strong>FECHA VENCIMIENTO</strong> </td>
          <td  colspan="1"><br>{{ servicio.fecha_vencimiento }}</td>
        </tr>
        <tr >
          <td  colspan="2" style="text-align:center;"><br><strong>PRECAUCIONES</strong></td>
          <td  colspan="2" style="text-align:center;"><br><strong>RECOMENDACIONES</strong></td>
        </tr>
        <tr>
          
          {% comment %} LISTA DE PRECAUCIONES {% endcomment %}
          <td  colspan="2">
            {% for precaucion in precauciones %}
            '◡' {{precaucion.precaucion}}<br> <hr>
            {% endfor %}
          </td>
          {% comment %} LISTA DE RECOMENDACIONES {% endcomment %}
          <td  colspan="2">
            {% for recomendacion in recomendaciones %}
            '◡' {{recomendacion.recomendacion}}<br> <hr>
            {% endfor %}
          </td>
        <tr/>
        
        <tr>
          <td  colspan="2" style="text-align:center;"><br><strong>EVIDENCIAS</strong> </td>

          <td  colspan="2" style="text-align:center;"><br><strong>PRODUCTOS UTILIZADOS</strong></td>
        </tr>
        <tr>
          {% comment %} LISTA DE EVIDENCIAS {% endcomment %}
          <td colspan="2">
            {% for evidencia in evidencia_medida %}
              {{ evidencia}}<br><hr>
            {% endfor %}
            <br>
          </td>
          {% comment %} LISTA DE PRODUCTOS UTILIZADOS {% endcomment %}
          <td  colspan="2">
            {% for productos in productos_utilizados %}
             {{productos}}<br><hr>
            {% endfor %}
            <br>
          </td>
        </tr>
        <tr>
          <td  colspan="1"><strong>LUGARES TRATADOS</strong></td>
          
            {% for servicio_fumigacion in servicio_fumigacion_list %}
              {% for lugar in servicio_fumigacion.lugares_tratados.all %}
              <td  colspan="1"><br>{{ lugar.nombre }}</td>
              {% if forloop.counter|divisibleby:3 %}</tr><tr><td colspan="1">{% endif %}
              {% endfor %}
            {% endfor %}
          
        </tr>
        <tr >
          <td colspan="1"><strong>TIPO DE APLICACION:</strong></td>
          
            {% for servicio_fumigacion in servicio_fumigacion_list %}
              {% for control in servicio_fumigacion.tipo_control_implementado.all %}
              <td  colspan="1"><br> {{ control.nombre }}</td>
              {% if forloop.counter|divisibleby:3 %}</tr><tr><td colspan="1">{% endif %}
              {% endfor %}
            {% endfor %}
        </tr>
        <tr>
          <td colspan="1"><br><strong>INGENIERO AGRONOMO </strong></td>
          <td colspan="1"><br>Miguel Meneses Alvarez</td>
          <td colspan="1"><br><strong>TECNICO APLICADOR </strong></td>
          <td colspan="1"><br><strong>{{tecnico}} </strong></td>
        </tr>
        <tr>
          <td colspan="1"><br><strong>OBSERVACIONES</strong></td>
          <td colspan="2"><br>
            {% for servicio in servicio_fumigacion_list %}
              {{servicio.observaciones}}
            {% endfor %}
          </td>
          <td colspan="1"><strong>FIRMA</strong>
            {% if exclude and firma_url %}
              <img src="{{ firma_url }}" alt="Firma" class="firma">
            {% endif %}
            {% if firma %}
              <img src="{{ firma.0.imagen.url }}" alt="Imagen de firma" style="max-width: 250px; max-height: 100%;">
            {% endif %}
            {% if not firma and not firma_url%}
              <form action=" {% url "guardar_firma_fumigacion" servicio.id %}" method="POST" id="firmaForm" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" type="file" id="formFile" name='imagen' accept="image/*" onchange="previewFirma()" style="width: 221px;">
                <img id="firmaPreview" style="max-width: 250px; max-height: 100%;">
                <button class="btn btn-primary d-none" id="guardarFirma">Guardar Firma</button>
              </form>
            {% endif %}
          </td>
        </tr>
        <tr style="text-align:center;">
          <td colspan="4">
            <b>
              {{ infoEmpresas.agradecimiento }}<br>
              {{ infoEmpresas.compromiso }}<br>
              {{ infoEmpresas.correo }} / {{ infoEmpresas.pagina_web }}<br>
            </b>
          </td>
        </tr>
      </tbody>
    </table>
    
{% endblock content %}