{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-5">Servicios Asignados</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Tipo de Servicio</th>
        <th>Fecha de Ejecución</th>
        <th>Estado del Servicio</th>
        <th>Formulario</th>
        <th>Marcar como Completado</th>
      </tr>
    </thead>
    <tbody>
      {% for asignacion in servicios_asignados %}
      <tr>
        <td>{{ asignacion.servicio.cliente.razon_social }}</td>
        <td>{{ asignacion.servicio.tipo_servicio.nombre }}</td>
        <td>{{ asignacion.servicio.fecha_ejecucion }}</td>
        <td>{{ asignacion.servicio.estado_servicio.nombre }}</td>
        
        <td>
          {% if asignacion.servicio.tipo_servicio.nombre == "Fumigacion" %}
          {% if asignacion.servicio.servicio_fumigacion %}
              <a href="{% url 'update_product' asignacion.servicio.id %}" class="btn btn-primary btn-sm">Actualizar </a>
          {% else %}
              <a href="{% url 'create_product' asignacion.servicio.id %}" class="btn btn-primary btn-sm">Generar </a>
          {% endif %}
        {% endif %}

          {% if asignacion.servicio.tipo_servicio.nombre == "Lavado de Tanques" %}
            <a href="{% url 'llenar_formulario' asignacion.servicio.id %}" class="btn btn-success btn-sm">Generar</a>
          {% endif %}
        </td>
        
        <td>
          <form method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="servicio_id" value="{{ asignacion.servicio.id }}">
            <input type="submit" class="btn btn-success btn-sm" value="Completado">
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No se han asignado servicios a este técnico.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
